<html>
<head>
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    body {
      margin-left: 20px;
    }
    .footer {
      margin: 10px;
    }
  </style>
</head>
<body>
  <h1>HTAN Dashboard</h1>
  <table class="pure-table pure-table-horizontal">
    <thead>
      <tr>
        <th>Timestamp</th>
        <th>Total File Storage</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ now }}</td>
        <td>{{ storage_human }}</td>
      </tr>
    </tbody>
  </table>  
  <br/>
  <table class="pure-table pure-table-horizontal">
    <thead>
        <tr>
            <th>Project</th>
            <th>Atlas ID</th>
            <th>Total File Size</th>
            <th>FASTQ</th>
            <th>BAM</th>
            <th>Image</th>
            <th>Matrix</th>
            <th>Other</th>
            <th>Metadata</th>
            <th>Num Errors</th>
            <th>Liaison</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
      {% for project in p_list %}
        <tr>
          <td><nobr><a href="https://www.synapse.org/#!Synapse:{{ project.id }}/files/">{{ project.name }}</nobr></a></td>
          <td>{{ project.atlas_id }} </td>
          <td><nobr>{{ project.get_total_fize_size_human_readable() }}</nobr></td>
          <td>{{ project.num_fastq }}</td>
          <td>{{ project.num_bam }}</td>
          <td>{{ project.num_image }}</td>
          <td>{{ project.num_matrix }}</td>
          <td>{{ project.num_other }}</td>
          <td>
            {% if project.num_meta > 0 %}
              <a href="{{ project.id }}.html">Yes</a>
            {% else %}
              No
            {% endif %}
          </td>
          <td>{{ project.num_errors }}</td>
          <td>{{ project.liaison }}</td>
          <td>{{ project.notes }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class='footer'>HTAN Data Coordinating Center (DCC).</div>
  <br/>
</body>

</html>